<body
  id="page-top"
  onload="launch();"
  onbeforeunload="doUnload(false);"
  onunload="doUnload();"
>
  <div class="d-flex">
    <div class="bg-light border-right px-2 pt-2" id="sidebar-wrapper">
      <div class="sidebar-heading">{{title}}</div>
      <hr />
      <div class="list-group list-group-root">
      {{{list_group_items}}}
      </div>
    </div>
    <div class="container" id="contentContainer">
      <iframe width="100%" id="contentFrame" src="{{landing_src}}"></iframe>
      <nav class="navbar">
        <a class="nav-link" id="buttonPrevious" onclick="doPrevious();">Previous</a>
        {{{navbar_items}}}
        <a class="nav-link" id="buttonNext" onclick="doNext();">Next</a>
      </nav>
    </div>
  </div>
</body>
