<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="" />
  <meta name="author" content="Databricks Academy" />
  <title>{{title}}</title>
  <link href="html/css/bootstrap.css" rel="stylesheet">
  <link href="html/css/databricks.css" rel="stylesheet">
  <link href="html/css/launch.css" rel="stylesheet">
  <script src="html/js/pageArray.js" type="text/javascript"></script>
  <script src="html/js/bootstrap.js" type="text/javascript"></script>
  <script src="html/js/actions.js" type="text/javascript"></script>
  <script src="html/js/functions.js" type="text/javascript"></script>
  <script src="html/js/timing.js" type="text/javascript"></script>
  <script src="html/js/launch.js" type="text/javascript"></script>
</head>
